:root {
    /* --main-font-family: 'Quicksand', sans-serif; */
    --main-font-family: 'Montserrat',sans-serif;
    --background-color: #ffffff;
    --background-color-faded: #ffffffea;
    --color-1: #202020;
    --color-2: #e7b546;
    --color-1-light: #979797;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--main-font-family);
    font-weight: 100;
    background-color: var(--background-color);
    color: var(--color-1);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

h2 {
    text-transform: uppercase;
    padding: 10px;
    color: var(--color-1);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container>*{
    box-sizing: border-box;
    padding: 0 5vw;
}

.divider {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.d1{
    background-image: url(images/photo_2.jpg);
}

.d2 {
    background-image: url(images/photo_3.jpg);
}

.d3 {
    background-image: url(images/photo_4.jpg);
}

/* menu start*/

#menu {
    width: 100%;
    height: 10vh;
    min-height: 60px;
    max-height: 100px;
    padding: 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color-faded);
}

#menu .menu-opc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#menu .menu-opc>a {
    margin: 10px;
    flex: 1;
    min-width: 100px;
    text-transform: uppercase;
    text-align: center;
    transition: font-size 0.2s ease-out;
}

#menu .menu-opc>a:link {
    color: var(--color-1);
    text-decoration: none;
}

#menu .menu-opc>a:hover {
    color: var(--color-1);
    font-size: 1.2rem;
}

#menu .menu-opc>a:visited {
    color: var(--color-1);
}

#menu hr {
    height: 3px;
    width: 3px;
    background-color: var(--color-1-light);
    border: none;
}

#menu .socials{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu .socials>* {
    width: 10vh;
    height: 10vh;
    box-sizing: border-box;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .icon {
    display: none;
}

@media only screen and (max-width: 750px) {
    #menu.menu.responsive {
        height: 100vh;
        width: 100%;
        max-height: 100vh;
        background-color: var(--background-color);
        padding: 10vh 0;
    }

    #menu.menu.responsive .menu-opc{
        flex-direction: column;
    }

    #menu.menu.responsive .menu-opc>a {
        display: block;
    }

    #menu.menu.responsive .menu-opc>* {
        flex: 0;
        margin: 5%;
    }


    #menu.menu.responsive .menu-opc .icon {
        display: flex;
        margin: 0;
    }          

    #menu .menu-opc>a {
        display: none;
    }

    #menu hr {
        display: none;
    }

    #menu .menu-opc .socials {
        justify-content: flex-start;
    }

    #menu .menu-opc .icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 10vh;
        width: 10vw;
        min-height: 60px;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        align-self: flex-start;
    }
}


/* menu end*/

/* home start*/

#home {
    background-image: url(images/background_photo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home h1{
    font-size: 3rem;
    text-align: center;
}

#home p {
    display: block;
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
}

#home>* {
    color: var(--background-color);
}

/* home end*/

/* about start*/

#about {
    width: 100%;
    padding: 12vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    height: auto;
    width: 400px;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    #about img {
        width: 350px;
    }
}

@media only screen and (max-width: 500px) {
    #about img {
        width: 300px;
    }
}

#about .about-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#about .about-container .description {
    max-width: 200px;
    min-width: 100px;
    position: relative;
    right: 55px;
}

@media only screen and (max-width: 611px) {
    #about .about-container .description {
        margin: 10px;
        max-width: 300px;
        bottom: 50px;
        left: 30px;
    }
}

@media only screen and (max-width: 400px) {
    #about .about-container .description {
        max-width: 200px;
    }
}

@media only screen and (max-width: 272px) {
    #about .about-container .description {
        left: 0;
    }
}

#about p {
    margin: 10px;
}

/* about end*/

/* offer start*/

#offer {
    width: 100%;
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#offer .offer-container {
    flex: 1;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#offer .offer-container>div {
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    margin: 10px 0 30px 0;
    flex: 1;
    padding: 0 10vw;
    text-align: center;
}

#offer .offer-container>div h3 {
    margin: 10px;
}

#offer hr {
    width: 0;
    height: 60%;
}

@media only screen and (max-width: 670px) {
    #offer hr {
        height: 0;
        width: 50%;
    }
}

/* offer end*/

/* success start*/

#success h2,
#contact h2 {
    text-align: center;
}

#success h3 {
    margin: 20px;
    font-weight: lighter;
}

#success h4 {
    text-transform: uppercase;
}

#success h5 {
    font-weight: lighter;
}

#success {
    width: 100%;
    height: fit-content;
    font-weight: 100;
    color: var(--color-1);
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#success div {
    margin: 6% 3%;
    text-align: center;
}

#success hr {
    width: 50%;
    border-top: 0.1px solid var(--color-1);
    margin: 5px;
}

/* success end*/

#quote h1{
    margin: 30px 0;
    font-size: 3rem;
    text-align: center;
}

/* contact start*/

#contact {
    width: 100%;
    padding: 12vh 0;
    margin-bottom: 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2 {
    margin-bottom: 40px;
}

#contact .data {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact .data>div{
    margin: 10px 5%;
}

#contact .data hr {
    height: 3px;
    width: 3px;
    margin: 20px;
    background-color: var(--color-1);
    border: none;
}

@media only screen and (max-width: 800px) {
    #contact .data>* {
        width: 100%;
        text-align: center;
    }
}

#contact .contact-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#contact .contact-container>* {
    margin: 10px;
}

#contact .form {
    padding: 10px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact form>* {
    height: 35px;
    width: 350px;
    padding: 4px;
    margin: 5px;
    font-weight: 800;
    border: 2px var(--color-1) solid;
    font-family: var(--main-font-family);
    box-sizing: border-box;
}

#contact #name,
#contact #email {
    margin-right: 3px;
    width: 169px;
}

#contact #message {
    height: 140px;
    resize: none;
}

#contact #submit {
    height: 40px;
    background-color: var(--color-1);
    border: 2px var(--color-1) solid;
    color: var(--background-color);
}

@media only screen and (max-width: 400px) {
    #contact .form {
        text-align: center;
    }

    #contact form>* {
        width: 90%;
    }

    #contact #name,
    #contact #email {
        width: 90%;
    }
}

#contact .map {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contact end*/
